__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
.env.*
.DS_Store
*.sqlite3
*.db
*.log
*.md.bak
*.bak
.idea/
.vscode/
*.swp
*.swo
*.~
*.tmp
*.old
*.orig
*.egg-info/
/static/
/node_modules/
/dist/
/.pytest_cache/
/.mypy_cache/
/.coverage
/.venv/
/venv/
